@page
@model ProjectManagement.Pages.Users.Details

@{
    ViewData["Title"] = "Users | Details";
}

<h1>@ViewData["Title"]</h1>

<div class="row flex-column">
    <div class="col-md-9">
        <h3>@Model.UserData?.FirstName @Model.UserData?.LastName</h3>
        <p>#ID: <b>@Model.UserData?.Id</b></p>
        <p>Email: <b>@Model.UserData?.Email</b></p>
        <p>Username: <b>@Model.UserData?.UserName</b></p>
        <p>Role: <b>@Model.UserRole</b></p>
    </div>
</div>

<a asp-page="/Users/Index" class="btn btn-primary">
    Back to List
</a>