@page
@using ProjectManagement.Entities
@model ProjectManagement.Pages.Teams.Members

@{
    var keyword = ViewData["Keyword"] as string;
    var previous = Model.MembersList.HasPreviousPage ? "" : "disabled";
    var next = Model.MembersList.HasNextPage ? "" : "disabled";
}

<p class="display-5">Members of <b>@Model.Team.Name</b> team</p>

@if (Model.Team.Members.Count > 0)
{
    <form asp-action="OnGetAsync" method="get">
        <div class="row">
            <div class="input-group">
                <input type="hidden" name="id" value="@Model.Team.Id" class="w-auto"/>
                <input type="search" class="form-control" placeholder="Search..." name="searchString" value="@keyword">
                <button type="submit" class="btn btn-primary mr-2"><i class="bi bi-search"></i></button>
                <a asp-action="" class="btn btn-secondary clear-btn">Clear</a>
            </div>
        </div>
    </form>
    
    <div class="container mt-2">
        <form method="post">
            <div class="row">
                <input type="hidden" name="teamId" value="@Model.Team.Id" class="w-auto"/>
                <select asp-for="Input.UserId" class="form-control w-auto">
                    <option value="" selected disabled>Please select user</option>
                    @foreach (var userOption in Model.UserOptions)
                    {
                    <option value="@userOption.Id">
                        @userOption.FirstName @userOption.LastName (@userOption.Email)
                    </option>
                    }
                </select>
                <span asp-validation-for="Input.UserId" class="text-danger"></span>

                <button class="btn btn-success mt-2 w-auto">
                    <i class="bi bi-plus"></i>
                    Add new member
                </button>
            </div>
        </form>
    </div>
    
    <p class="display-6 mt-4">Members:</p>
    
    <div class="container mt-2 p-0">
        @foreach (var member in Model.MembersList)
        {
            <div class="row mb-4 align-middle">
                <p class="mb-0 w-auto align-content-center">@member.FirstName @member.LastName - @member.Email</p>

                <form asp-page-handler="RemoveMember" method="post" class="w-auto">
                    <input type="hidden" name="userId" value="@member.Id" />
                    <input type="hidden" name="teamId" value="@Model.Team.Id" />
                    <button class="btn btn-danger w-auto">
                        <i class="bi bi-trash3"></i>
                        Remove from team
                    </button>
                </form>
            </div>
        }
    </div>
}
else
{
    <form method="post" class="flex-row gap-4">
        <input type="hidden" name="teamId" value="@Model.Team.Id" />
        <select asp-for="Input.UserId" class="form-control w-auto">
            <option value="" selected disabled>Please select user</option>
            @foreach (var userOption in Model.UserOptions)
            {
                <option value="@userOption.Id">
                    @userOption.FirstName @userOption.LastName (@userOption.Email)
                </option>
            }
        </select>
        <span asp-validation-for="Input.UserId" class="text-danger"></span>

        <button class="btn btn-success mt-2 w-auto">
            <i class="bi bi-plus"></i>
            Add new member
        </button>
    </form>
    
    <h2 class="mt-4">No members</h2>
}

<div>
    <ul class="pagination">
        <li class="page-item">
            <a asp-page="./Members" asp-route-id="@Model.Team.Id"
               asp-route-pageIndex="@(Model.MembersList.PageIndex - 1)"
               class="page-link btn @previous"
               role="button">
                Previous
            </a>
        </li>
        @for (var i = 1; i <= Model.MembersList.TotalPages; i++)
        {
            <li class="page-item @(i == Model.MembersList.PageIndex ? "active" : "")">
                <a asp-page="./Members" asp-route-id="@Model.Team.Id"
                   asp-route-pageIndex="@i"
                   class="page-link">
                    @i
                </a>
            </li>
        }
        <li class="page-item">
            <a asp-page="./Members" asp-route-id="@Model.Team.Id"
               asp-route-pageIndex="@(Model.MembersList.PageIndex + 1)"
               class="page-link btn @next"
               role="button">
                Next
            </a>
        </li>
    </ul>
</div>

<a asp-page="/Teams/Index" class="btn btn-primary mt-4">
    Back to List
</a>